<a id="home-button" class="menu-button icon-arrow-left" href="{{@blog.url}}"><span class="word">Home</span></a>
{{#if @blog.navigation}}
    <a id="menu-button" class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
{{/if}}
